/Tarea2/tarea2Ejercicio1/nbproject/private/
/Tarea2/tarea2Ejercicio1/build/
/Tarea2/tarea2Ejercicio2/nbproject/private/
/Tarea2/Ejercicio1Sistema_de_Monitoreo_de_Ventas/build/
/Tarea2/Ejercicio2SistemaAcademico/nbproject/private/
/Tarea2/Ejercicio2SistemaAcademico/build/
/Tarea2/Ejercicio3Sistema_de_Priorización_de_Pacientes/nbproject/private/
/Tarea2/Ejercicio3Sistema_de_Priorización_de_Pacientes/build/
